<%= render partial: '/tasks_scheduler/navbar' %>
<h2><%=  I18n.t(:tasks_scheduler_status) %></h2>
<div id="TaskScheduler_Status_Status">
</div>
<div id="TaskScheduler_Status_Content">
</div>
<script>
  TasksScheduler.Status.init('<%= status_content_scheduled_tasks_path %>', 5);
</script>
