@import 'eac_active_scaffold';
@import 'tasks_scheduler/alert';

#TaskScheduler_Status_Status {
  font-size: small;
  margin-bottom: 1.0em;
}

#TaskScheduler_Status_Content {
  table {
    border-collapse: collapse;

    td, th {
      border: thin solid black;
      padding: 0.3em;
      text-align: center;
    }

    td.status_running {
      color: blue;
    }

    td.status_waiting {
      color: darkgrey;
    }

    td.status_failed {
      color: red;
    }

    td.status_aborted {
      color: magenta;
    }

    td.status_timeout {
      color: orange;
    }

    td.status_disabled {
      color: lightgrey;
    }

    td.status_task_not_found {
      color: violet;
    }
  }

  .last_run {
    font-weight: bold;
  }
}

.tasks_scheduler_daemon_status_down {
  color: red;
}

.tasks_scheduler_daemon_status_up {
  color: blue;
}
